{{outlet}}

TODO Title: {{model.game.label}}

<center>
  
  <h2>{{model.game.label}}</h2>

  <table>
    <tr>
      {{#each model.sharedWithVisibility as |cv|}}
        <td>{{show-card card=cv.[0] visibility=cv.[1]}}</td>
      {{/each}}
    </tr>
  </table>

  <!--
  defining(state._eventQueues.get(state.player).getOrElse(Nil)) { events =>
    if( events.size > 0 )
      "Previously: " + events.map(_.displayTo(state.player)).mkString(" ")
  }
  -->

  <table>
    <tr><td></td><td></td><td></td><td>In for</td><td>Pile</td><td></td></tr>
    {{#each model.game.players as |player|}}
      {{poker-player-row player state}}
    {{/each}}
    <tr><td></td><td></td><td></td><td>{{model.state.pot}} pot</td><td></td><td></td></tr>
  </table>

  <div>
  {{#if false}} <!-- state.hasOwnProperty('outcome') -->
    <div>
      <form> <!-- continue(game.id) -->
        <input type="submit" value="next game" />
      </form>
    </div>
  {{else if false}} <!-- state.player === pokerGame.dealer -->
    <form> <!-- move(game.id) -->
      <input type="hidden" name="which" value="deal"/>
      <input type="submit" value="Deal" />
    </form>
  {{/if}}
  </div>

  <a href="/games">all games</a>
</center>
