<!-- args: (card: Card, visible: Boolean) -->

{{#if visibility }}
  <div class="cardface"><center>
    {{#if false }} <!-- card.suit == "Hearts" or Diamonds -->
      <span><font color="red"> {{card.rank}} <br/> {{card.suit}} </font></span>
    {{else}}
      <span>{{card.rank}}<br/> {{card.suit}} </span>
    {{/if}}
  </center></div>
{{else}}
  <div class="cardback">
    <center><img src="/images/bicyclebacksmall.jpg"/></center>
  </div>
{{/if}}